.adminMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 72%;
    margin: auto;
    margin-top: 70px;
}

.userBox {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
    width: 400px;
    height: 350px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.emailBox {
    display: flex;
    flex-direction: column;
}

.matplanBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.matplanBox1 {
    display: flex;
    flex-direction: row;
}

.matplanBox2 {
    display: flex;
    flex-direction: row;
}
input {
    width: 56px;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer; 
}

.treningsplanBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.treningsplanBox1 {
    display: flex;
    flex-direction: row;
}

.treningsplanBox2 {
    display: flex;
    flex-direction: row;
}

.linkStyle {
    height: 1.2em;
    width: 170px;
    overflow: hidden;
    padding-left: 10px;
    color: blue;
}

.buttonStyle {
    margin-right: 10px;
    padding: 0px 3px 0px 3px;
    cursor: pointer;
}

.slettBrukerBtn {
    padding: 5px;
    cursor: pointer;
}

.emailAndNumber {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.alderhøydevekt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.adresse {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.målsetting {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 750px) {
    .adminMainContainer {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        margin-top: 70px;
    }

    .userBox {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: auto;
        margin-top: 15px;
        padding: 15px;
        width: 90%;
        height: 300px;
        background: #FFFFFF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .linkStyle {
        height: 1.2em;
        width: 130px;
        overflow: hidden;
        padding-left: 1px;
        color: blue;
    }

    input {
    width: 56px;
    }
}
/*
@media(max-width: 1440px) {
    .adminMainContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1440px;
        margin: auto;
        margin-top: 70px;
    }
    .userBox {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: auto;
        margin-top: 15px;
        padding: 15px;
        width: 500px;
        height: 400px;
        background: #FFFFFF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media(max-width: 500px) {
    .adminMainContainer {
        display: grid;
        grid-template-columns: 1fr;
        width: 800px;
        margin: auto;
        margin-top: 70px;
    }
    .userBox {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin: auto;
        margin-top: 55px;
        margin-bottom: 55px;
        padding: 15px;
        width: 600px;
        height: 500px;
        background: #FFFFFF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
*/
