.mainDivBildegalleri {
    width: 100%;
}

.isLoadingGalleri {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 750px) {
    .mainDivBildegalleri {
        width: 100%;
        margin-bottom: 0px;
    }
}