.img-container {
    width: 100%;
    max-height: 35vh;
    margin-bottom: 220px;
}
.img-grid {
    margin: auto;
    padding: 0;
    white-space: nowrap;
    width: 98%;
    overflow-x: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-wrap {
    display: inline;
    height: 100%;
    width: auto;
}

/* Fjerner ekstra margin-bottom hvis brukeren er innlogget */

.img-grid-loggedIn {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    white-space: nowrap;
    width: 98%;
    overflow-x: scroll;
}

.img-wrap-loggedIn {
    display: inline;
    height: 50%;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.imageGalleryBtn {
    position: absolute;
    left: 0;
    cursor: pointer;
}

.images {
    display: inline;
    height: 35vh;
    width: auto;
    margin-top: -6px;
}



@media(max-width: 750px) {
    .img-container {
        width: 100%;
        max-height: 10vh;
    }

    .img-grid {
        margin: auto;
        padding: 0;
        white-space: nowrap;
        width: 98%;
        overflow-x: scroll;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

