.img-container {
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
}
.img-grid {
    display: block;
    grid-column-gap: 0;
    column-count: 6;
    width: 100%;
    backface-visibility: hidden;
}

.img-wrap {
    width: 100%;
    flex-grow: 0;
}

/* Fjerner ekstra margin-bottom hvis brukeren er innlogget */
.img-wrap-loggedIn {
    width: 100%;
    flex-grow: 0;
}

.imageGalleryBtn {
    position: absolute;
    top: 30px;
    left: 0;
    cursor: pointer;
}

.images {
    width: 100%;
    flex-grow: 0;
    margin-top: -6px;
}



@media(max-width: 750px) {
    .img-container {
        max-height: 100vh;
        overflow-y: scroll;
    }

    .img-grid {
        display: block;
        column-count: 2;
        width: 100%;
        padding-bottom: 34px;
        backface-visibility: hidden;
    }
}


