.navigationBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 71px;
  background: #263238;
  z-index: 1;
}

.ulNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 700px;
  margin: 0;
  padding: 0;
}

.mobileUlNavbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 400px;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.link {
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFFFFF; 
}

.link:hover {
  transition: all .5s ease-in-out;
  border-radius: 8px;
  color: #f5f4f3;
  background: #686868;
}

.active {
  border-radius: 8px;
  color: #f5f4f3;
  background: #686868;
}

.navbarHeader {
  color: #FFFFFF;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}

.burderMenu {
  display: none;
}

.hideNav {
  display: none;
}
@media screen and (max-width: 1050px) {
  body {
      overflow-x: hidden;
  }

  .navigationBar {
      position: fixed;
  }

  .ulNavbar {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 70px;
      right: 0;
      width: 100%;
      height: 50vh;
      background: #263238;
      transform: translateX(100%);
      transition: transform .3s ease-in;
  }

  .mobileUlNavbar {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 70px;
      right: 0;
      width: 100%;
      height: 50vh;
      background: #263238;
      transform: translateX(100%);
      transition: transform .3s ease-in;
  }

  .navlinks {
    opacity: 0;
  }

  .burgerMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      right: 25px;
      width: 25px;
      height: 25px;
  }
  
  .burgerMenu div {
      display: flex;
      width: 25px;
      height: 3px;
      background: #FFFFFF;
      transition: all 0.3s ease;
  }

  .nav-active {
      transform: translateX(0%);
  }

  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line2 {
   opacity: 0; 
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  @keyframes navLinkFade {
      from {
          opacity: 0;
          transform: translateX(50px);
      } 
      to {
          opacity: 1;
          transform: translateX(0px);
      }
  }
}
