  .App-header {
    color: #fff; 
    line-height: 5vh;
    margin-left: 35px;
    font-size: 0.8em;
    font-family: Georgia, serif;
  }
  /* Css for responsive navigation */
  .burger {
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-left: 20px;
    margin: 0 0 5px 15px;
    transition: all 0.3s ease;
  }
  ul { 
    list-style-type: none; 
    height: 0px;
    overflow: hidden;
  }
  .showNav {
    height: auto;
    padding-bottom: 10px;
  }
  .hideNav {
    display: none;
  }
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line2 {
   opacity: 0; 
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  @media screen and (min-width: 900px) {
    .burger { display: none; }
    .App-container {
      top: 0;
      right: 0;
      left: 0;
      background-color: #263238;
    }
    .App-header {
      display: inline-block;
    }
    .App-navbar { 
      display: inline-block; 
      float: right; 
      line-height: 5vh; 
    }
    ul { 
      list-style-type: none; 
      height: auto;
    }
    .showNav {
      height: auto;
    }
    ul li { 
      display: inline-block; 
    }
    ul li a {
      color: #fff;
      text-decoration: none;
      padding-right: 30px;
      font-size: 1em;
      font-family: Georgia, serif;
      text-transform: capitalize;
    }
    ul li a:hover {
      text-decoration: underline;
    }
  }
  
  @media screen and (max-width: 900px) {
    .App-container {
      top: 0;
      right: 0;
      left: 0;
      background-color: #263238;
    }
    .App-header {
      text-align: center;
      font-size: 0.7em;
      color: #fff;
    }
    ul {
      text-align: center;
      padding-bottom: 0px;
    }
    ul li { 
      padding-top: 20px;
      display: block; 
    }
    ul li a {
      color: #fff;
      text-decoration: none;
      padding-right: 30px;
      padding-left: 30px;
      font-size: 1em;
      font-family: Georgia, serif;
      text-transform: capitalize;
    }
    .showNav {
      height: auto;
      padding-bottom: 10px;
    }
    .hideNav {
      display: none;
    }
  }