.mainMatTrening {
    min-height: 100vh;
}
.innerMainMatTrening {
    height: 600px;
    width: 1000px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    display: inline-grid;
    grid-template-columns: 100%;
}
.innerMainMatTreningP {
    padding: 15px 15px 15px 15px;
    text-align: center;
}
.mainDivMatTrening {
    height: 600px;
    width: 1000px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    display: inline-grid;
    grid-template-columns: 50% 50%;
}
.leftDivMatTrening {
    background-image: url('../images/pexels-lukas-616401.jpg');
    background-size: 100%;
    width: 95%;
    height: 40%;
    border-radius: 8px;
    margin: 15px 15px 15px 15px;
    margin: auto;
    display: inline-grid;
    grid-template-columns: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.innerLeftDivMatTrening {
    margin: 15px 15px 15px 15px;
    margin: auto;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.leftDivMatTrening, a {
    text-decoration: none;
    color: #fff;
}
.leftDivMatTrening:hover {
    width: 98%;
}
.rightDivMatTrening {
    background-image: url('../images/background.jpg');
    background-size: 100%;
    width: 95%;
    height: 40%;
    border-radius: 8px;
    margin: 15px 15px 15px 15px;
    margin: auto;
    display: inline-grid;
    grid-template-columns: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.innerRightDivMatTrening {
    margin: 15px 15px 15px 15px;
    margin: auto;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.rightDivMatTrening, a {
    text-decoration: none;
    color: #fff;
}
.rightDivMatTrening:hover {
    width: 98%;
}