.sendBtn {
  color: blue;
  cursor: pointer;
}
.sendBtn:hover {
  color: gray;
}
.chatTextBoxContainer {
  position: absolute;
  width: calc(100% - 300px - 50px);
  top: 900px;
  left: 315px;
  overflow: auto;
  box-sizing: border-box;
}
.chatTextBox {
  width: calc(100% - 25px);
}
@media all and (max-width: 900px) {
  .chatTextBoxContainer {
    position: relative; 
    left: 10px;
    top: 80vh;
  }
  .sendBtn {
    color: blue;
    cursor: pointer;
  }
  .sendBtn:hover {
    color: gray;
  }
  .chatTextBoxContainer {
    display: flex;
    position: relative;
    width: calc(80%);
    margin: auto;

  }
}

/*
    sendBtn: {
      color: 'blue',
      cursor: 'pointer',
      '&:hover': {
        color: 'gray'
      }
    },
  
    chatTextBoxContainer: {
      position: 'absolute',
      bottom: '115px',
      left: '315px',
      boxSizing: 'border-box',
      overflow: 'auto',
      width: 'calc(100% - 300px - 50px)'
    },
  
    chatTextBox: {
      width: 'calc(100% - 25px)'
    }

    */
